body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#category-management {
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 30px;
}

#create-category-section,
#user-info,
#add-user-to-category-section,
#fetch-categories-section {
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

#user-details {
    margin-top: 20px;
}

#user-details img {
    border-radius: 50%;
    margin-bottom: 10px;
}

#user-details table {
    width: 100%;
    border-collapse: collapse;
}

#user-details th,
#user-details td {
    border: 1px solid #ddd;
    padding: 8px;
}

#user-details th {
    background-color: #f2f2f2;
}

.user-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-table th,
.user-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Styling for buttons and headings */
button,
h1,
h2,
h3 {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

button {
    padding: 10px 20px;
    color: #fff; /* Light text color */
    background-color: #4caf50; /* Green */
}

h1 {
    background-color: #2196f3; /* Light Blue */
    color: #fff; /* Light text color */
    padding: 10px 20px;
}

h2 {
    background-color: #f44336; /* Light Red */
    color: #fff; /* Light text color */
    padding: 10px 20px;
}

h3 {
    background-color: #9c27b0; /* Light Purple */
    color: #fff; /* Light text color */
    padding: 10px 20px;
}

button:hover,
h1:hover,
h2:hover,
h3:hover {
    opacity: 0.8;
}

/* Table Styles */
.user-table th {
    background-color: #607d8b; /* Blue Grey */
    color: #fff; /* Light text color */
}

.user-table td {
    background-color: #eceff1; /* Blue Grey Lighten */
    color: #333; /* Dark text color */
}
